CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
target
*.mp4
*.o
*.a
*.bin
data.rq
decode
encode
peace_and_war.txt
war_and_peace.txt
.idea
count.txt
cmake-build-debug
CMakeFiles
CMakeCache.txt
cmake_install.cmake
nanorq_decode
nanorq_encode
*.cbp
tablegen
Makefile
.idea
html/
